<div class="row static-page <%= static_page_class %>">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="title">
      <%= content_tag :h1, static_page.title.try(:html_safe), id: "page_title", contenteditable: editing?, :"data-mercury" => "full"%>
      <%- if current_admin_user? %>
        <%= link_to "Editar", "/editor" + static_page_path(static_page), class: "btn btn-sm btn-primary edit-static-page" %>
      <% end %>
    </div>
    <%= content_tag :div, static_page.main_content.try(:html_safe), id: "page_main_content", contenteditable: editing?, :"data-mercury" => "full", class: "static-page-main-content"%>
  </div>
  <div class="col-md-1"></div>
</div>