<div class="comments-statistics-panel">
  <h2>Lo que piensa la gente</h2>
  <div class="spacer-top"></div>
  <div class="donnut-chart">
    <div class="donnut">
      <div class="donnut-positive"></div>
      <div class="donnut-negative <%= group.id.odd? ? 'first' : 'second' %>"></div>
      <div class="white-circle"></div>
    </div>
    <div class="marker-group">
      <div class="marker positive-marker"></div><span class="marker-label">Positivo</span>
      <div class="marker negative-marker"></div><span class="marker-label">Negativo</span>
    </div>
  </div>
  <a href="#" class="btn btn-primary">Ver comentarios</a>
</div>