<div class="page l-gray-page" id="notice_index">
  <% @notice_groups.each do |group| %>
    <%= render "notice_group", group: group %>
  <% end %>
</div>
<div id="end-of-notices"><i class="fa fa-spinner fa-spin hidden"></i></div>
<div id="no-more-results">No hay más resultados</div>