<div id="notice_show">
  <%= render "notice_group", group: @notice_group %>

  <div class="twits">
    <% @notice_group.comments.each do |comment| %>
      <div class="tweet-container">
        <blockquote class="twitter-tweet" lang="es"><a href="<%= comment.url %>"></a></blockquote>
      </div>
    <% end %>
  </div>
</div>