<div class="spacer-top"></div>
<%- if ['registrations', 'sessions', 'landing'].none?{|c_name| c_name == controller_name }  %>
  <div class="text-center">
    <%= link_to "Ingresar/Registrarse", new_session_path(:user) %><br />
  </div>
<% end -%>

<%- if controller_name != 'passwords' && controller_name != 'registrations'%>
  <div class="text-center">
    <%= link_to "¿Olvidaste tu contraseña?", new_password_path(:user) %><br />
  </div>
<% end -%>
