= stylesheet_link_tag "landing"
.landing-background

  .container-fluid
    .row-fluid
      .panel.panel-default.col-xs-3.centering.text-center
        .panel-body
          = render partial: 'login_form' 
