<div class="container" id="admin_board">
  <div class="spacer-top"></div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
      <h1>Panel de control</h1>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="spacer-top"></div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel board-panel">
        <div class="panel-header">
          <h1 class="text-center">Buscar noticias</h1>
          <div class="text-center">
            <input type="number" name="hours" id="hours" placeholder="Cantidad de horas" min="1">
          </div>
        </div>
        <div class="panel-body text-center">
          <div class="btn btn-primary btn-round board-button" data-url="/load_notices">
            <i class="fa fa-plus-circle"></i>
            <i class="fa fa-spinner fa-spin hidden"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel board-panel">
        <div class="panel-header"><h1 class="text-center">Buscar comentarios</h1></div>
        <div class="panel-body text-center">
          <div class="btn btn-primary btn-round board-button" data-url="/load_comments">
            <i class="fa fa-plus-circle"></i>
            <i class="fa fa-spinner fa-spin hidden"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel board-panel">
        <div class="panel-header"><h1 class="text-center">Activar analizador de noticias</h1></div>
        <div class="panel-body text-center">
          <div class="btn btn-primary btn-round board-button"  data-url="/semantic_analyzer">
            <i class="fa fa-plus-circle"></i>
            <i class="fa fa-spinner fa-spin hidden"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel board-panel">
        <div class="panel-header"><h1 class="text-center">Activar analizador de comentarios</h1></div>
        <div class="panel-body text-center">
          <div class="btn btn-primary btn-round board-button" data-url="/sentiments_analyzer">
            <i class="fa fa-plus-circle"></i>
            <i class="fa fa-spinner fa-spin hidden"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>