<% @users.each_with_index do |user, index| %>
  <%= render "user", user: user, index: index, users_length: @users.length %>
<% end %>
<% if @users.length == 0 %>
  <div id="no-more-results">No hay resultados para su búsqueda</div>
<% end %>
<div class="text-center"><%= paginate @users %></div>