<%= main_layout do %>
  <h1 class="text-center">Usuarios de <div class="logo"> - Campanarium - </div></h1>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="input-with-icon form-group">
        <%= content_tag :input, "", id: "search_users", class: "form-control"%>
        <i class="fa fa-search"></i>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <ul class="unstyled-list" id="users">
    <% @users.each_with_index do |user, index| %>
      <%= render "user", user: user %>
      <%- unless index + 1 == @users.length %>
        <div class="h-separator"></div>
      <% end -%>
    <% end %>
  </ul>
  <div class="text-center"><%= paginate @users %></div>
<% end -%>

<%- if current_admin_user? %>
  <div class="modal fade" id="destroy_user_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Eliminar usuario</h4>
        </div>
        <div class="modal-body">
          <textarea name="reasons" id="destroy_reasons" cols="55" rows="6" class="reasons" placeholder="Escriba las razones por las cuales se elimina a este usuario"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="destroy_action">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
<% end -%>