<div class="notice-panel">
  <% if notice.has_images? %>
    <img src="<%= notice.images_urls[0]%>">
  <% end %>
  <h2><%= notice.title %></h2>
  <div class="body">
    <%= notice.body.try(:truncate, 100) %>
    <%= source_logo(notice) %>
  </div>
</div>