<div class="panel">
  <div class="inner-border">
    <% group.notices.each_with_index do |notice, index| %>
      <%= render "notice", notice: notice, show_media: true %>
    <% end %>
    <div class="clearfix"></div>
  </div>
</div>