.btn{
  color: #FFF;
  &.button-block{
    width: 100%!important;
  }
  &.btn-primary{
    background-color: $primary;
  }
  &.danger{
    background-color: $error;
  }
  &.disabled{
    cursor: default;
  }
  &.btn-secondary{
    background-color: $secondary;
  }
  &.btn-round{
    @include circle(100px, $primary);
    i{
      font-size: 87px;
    }
  }
}

.navbar{
  a.btn{
    float: left;
    height: 100%;
    width: 50px;
    color: #FFF;
    i{ font-size: 20px; padding-top: 12px; }
  }
}