.btn{
  color: #FFF;
  &.button-block{
    width: 100%!important;
  }
  &.btn-primary{
    background-color: $primary;
  }
  &.disabled{
    cursor: default;
  }
}

.navbar{
  a.btn{
    float: left;
    height: 100%;
    width: 50px;
    color: #FFF;
    i{ font-size: 20px; padding-top: 12px; }
  }
}