.donnut-chart{
  text-align: center;
  .donnut{
    position: relative;
    display: inline-block;
  }
  .white-circle{
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: white;
    top: 30px;
    left: 30px;
    @include draw-circle(200px, 200px, 200px, 200px);
  }
  .donnut-positive{
    background-color: $secondary;
    width: 150px;
    height: 150px;
    @include draw-circle(200px, 200px, 200px, 200px);
  }
  .donnut-negative{
    background-color: $light-gray;
    position: absolute;
    top: 0;
    &.first{
      width: 75px;
      height: 75px;
      @include draw-circle(100px);
    }
    &.second{
      width: 150px;
      height: 75px;
      @include draw-circle(100px, 100px)
    }
  }
  .marker-group{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    .marker-label{
      bottom: 5px;
      left: 2px;
      position: relative;
    }
    .marker{
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 10px;

      &.positive-marker{
        background-color: $secondary;
      }
      &.negative-marker{
        background-color: $light-gray;
      }
    }
  }
}