.main-container{
  //margin-top: $nav-bar-height;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  background-color: $gray;
}


@media(max-width: 768px){
  // Small devices
  .main-container.landing-container{
    margin-top: 0;
  }
}