.main-container{
  margin-top: $nav-bar-height;
}

body{
  background-color: $gray;
}

#notice_index, #notice_show{
  padding-top: 20px;
}


@media(max-width: 768px){
  // Small devices
  .main-container.landing-container{
    margin-top: 0;
  }
}