
.landing-background{
  background-image: url(/assets/campanile.jpg);
  background-size: 100% auto;
  height:100%;
  display:table;
  width: 100%;

  .row-fluid {height: 100%; display:table-cell; vertical-align: middle;}


  .panel{
    background-color: rgba(0,0,0,0.5);
    border: none;
    /* Centering */
    float: none;
    margin:0 auto;
  }

  h2{
    color: #c7c7c7;
  }
}
