.landing-background{
  background-image: url(/assets/campanile.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #000;
  min-height: 700px;
  display:table;
  width: 100%;

  .panel{
    background-color: rgba(0,0,0,0.5);
    border: none;
    border-radius: 0;
    width: 392px;
    padding: 0;
    /* Centering */
    float: none;
    margin:100px auto;
    margin-top: 75px;
    .logo{
      font-size: 60px;
      padding-top: 5px;
      display: none;
    }
    .panel-header{
      .nav.nav-tabs{
        li{
          &.left{
            a{
              -webkit-box-shadow: inset -3px -3px 7px 0px rgba(0,0,0,0.25);
              -moz-box-shadow: inset -3px -3px 7px 0px rgba(0,0,0,0.25);
              box-shadow: inset -3px -3px 7px 0px rgba(0,0,0,0.25);
            }
          }
          &.right{
            a{
              -webkit-box-shadow: inset 3px -3px 7px 0px rgba(0,0,0,0.25);
              -moz-box-shadow: inset 3px -3px 7px 0px rgba(0,0,0,0.25);
              box-shadow: inset 3px -3px 7px 0px rgba(0,0,0,0.25);
            }
          }
          a{
            color: white;
            border: none;
            border-radius: 0;
            letter-spacing: 2px;
            &:hover{
              background-color: inherit;
            }
          }
          &.active{
            a{
              background-color: inherit;
              border: 0;
              box-shadow: none;
            }
          }
        }
      }
    }
    .panel-body{
      padding: 43px;
    }
  }

  h2{
    font-size: 23px;
    color: #c7c7c7;
  }

  p{
    color: #FFF;
    font-size: 13px;
  }

  a{
    color: #FFF;
  }

}
i.social-media-icon{
  font-size: 19px;
  padding-top: 1px;
}

@media(max-width: $medium-device){
  // Medium devices
  .landing-background{
    .panel{
      width: 462px;
    }
  }
}

@media (max-width: $small-device) {
  // Small devices
  .landing-background{
    padding: 0;
    .panel{
      width: 100%;
      min-height: 700px;
      background-color: $dark-gray-2;
      margin: 0;
      margin-top: $nav-bar-height;
      .panel-body{
        padding: 23px 50px 40px 50px;
      }
      .logo{
        display: block;
      }
      .panel-header{
        .nav.nav-tabs{
          li{
            a{
              height: 55px;
              padding-top: 16px;
              &:hover{ background-color: inherit; }
            }
            float: left;
            width: 50%;
            &.active{
              a{
                background-color: inherit;
                border: 0;
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
  .navbar-header{
    border-top: 1px solid;
  }
}

