.landing-background{
  background-image: url(/assets/campanile.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #000;
  height:100%;
  display:table;
  width: 100%;

  .row-fluid {height: 100%; display:table-cell; vertical-align: middle;}


  .panel{
    background-color: rgba(0,0,0,0.5);
    border: none;
    border-radius: 0;
    /* Centering */
    float: none;
    margin:0 auto;
    .logo{
      color: #FFF;
      text-align: center;
      font-size: 50px;
      padding-top: 40px;
      display: none;
    }
    .panel-body{
      .register-button{
        float: left;
      }
      .login-button{
        float: right;
      }
    }
  }

  h2{
    color: #c7c7c7;
  }

  i.social-media-icon{
    font-size: 19px;
    padding-top: 1px;
  }
}

@media (max-width: 768px) {
  // Small devices
  .landing-background{
    padding: 0;
    .panel{
      width: 100%;
      height: 100%;
      background-color: #000;
      .panel-body{
        padding: 40px 50px;
        .register-button{
          float: none;
          margin-top: 10px;
          a{
            width: 100%;
          }
        }
        .login-button{
          float: none;
          input{
            width: 100%;
          }
        }
      }
      .logo{
        display: block;
      }
    }
  }
}
