* {
  font-family: 'Roboto', sans-serif;
}

// Icons
@import "font-awesome-sprockets";
@import "font-awesome";

// Variables
@import "variables";

//Mixins
@import "mixins/transform";
@import "mixins/rotate";

// Other
@import "modules/buttons";
@import "landing";
@import "modules/alerts";
@import "modules/navbar";
@import "modules/footer";

.main-container{
  margin-top: $nav-bar-height;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media(max-width: 768px){
  // Small devices
  .main-container.landing-container{
    margin-top: 0;
  }
}