* {
  font-family: 'Roboto', sans-serif;
}

// Icons
@import "font-awesome-sprockets";
@import "font-awesome";

// Variables
@import "variables";

//Mixins
@import "mixins/transform";
@import "mixins/rotate";
@import "mixins/box-shadow";
@import "mixins/draw-circle";

// Other
@import "modules/buttons";
@import "landing";
@import "modules/alerts";
@import "modules/navbar";
@import "modules/footer";
@import "modules/static_pages";
@import "modules/panels";
@import "modules/twits";

//Only for commercial presentation
@import "modules/donnut-chart";

@import "modules/pages";
@import "modules/forms";
@import "modules/classifier";

.h-separator{
  width: 100%;
  margin: 0;
  border-top: 1px solid $light-gray;
  height: 10px;
  padding: 0;
}

.clearfix{
  clear: both;
}

.social-networks-clumps{
  i{
    position: relative;
    &.fa-facebook{
      font-size: 11px;
      left: 1px;
      top: -2px;
    }
    &.fa-twitter{
      font-size: 11px;
      top: 3px;
      left: -4px;
    }
  }
}