* {
  font-family: 'Roboto', sans-serif;
}

// Icons
@import "font-awesome-sprockets";
@import "font-awesome";

// Variables
@import "variables";

//Mixins
@import "mixins/transform";
@import "mixins/rotate";
@import "mixins/box-shadow";
@import "mixins/draw-circle";
@import "mixins/circle";

// Other
@import "modules/buttons";
@import "landing";
@import "modules/alerts";
@import "modules/navbar";
@import "modules/footer";
@import "modules/static_pages";
@import "modules/panels";
@import "modules/twits";

@import "modules/pages";
@import "modules/forms";
@import "modules/editable";
@import "modules/texts";
@import "modules/lists";
@import "modules/pagination";
@import "modules/users";
@import "modules/input_file";

.h-separator{
  width: 100%;
  margin: 0;
  border-top: 1px solid $light-gray;
  height: 10px;
  padding: 0;
}

.clearfix{
  clear: both;
}

.social-networks-clumps{
  i{
    position: relative;
    &.fa-facebook{
      font-size: 11px;
      left: 1px;
      top: -2px;
    }
    &.fa-twitter{
      font-size: 11px;
      top: 3px;
      left: -4px;
    }
  }
}

#end-of-notices{
  height: 20px;
  display: block;
  text-align: center;
}

#no-more-results{
  text-align: center;
  margin: 5px 0 15px 0;
  color: $light-gray;
}

.contact{
  width: 230px;
  margin-right: 20px;
  text-align: center;
  background-color: $dark-gray;
  color: $gray;
  padding: 20px 10px;
  img{ @include circle(160px, $dark-gray); }
  .name{
    margin-top: 20px;
    font-weight: $bold;
  }
  .contact-image{
    height: 160px;
  }
  .contact-boxes{
    margin: 10px 0;
    padding-left: 10px;
    .contact-box{
      @include circle(30px, $gray);
      margin-right: 17px;
      padding-top: 6px;
      display: inline-block;
      i.fa.fa-icon{
        color: $dark-gray;
      }
    }
  }
}


.darken-hover{
  background-color: $dark-gray;
  padding: 0;
  display: inline-block;
  img{
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
    &:hover{
      opacity: 0.6;
    }
  }
}