<p>¡Hola <%= @resource.name.present? ? @resource.name : @resource.email %>!</p>

<p>Podés confirmar tu email haciendo click en el siguiente link.</p>

<p><%= link_to 'Confirmar la cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Saludos,</p>

<p>El equipo de Campanarium.</p>