<p>¡Hola <%= @resource.name.present? ? @resource.name : @resource.email %>!</p>

<p>Parece que no podés iniciar sesión. Haciendo click en el siguiente link podrás restaurar tu contraseña.</p>

<p><%= link_to 'Cambiar contrasña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vos no pediste esto por favor ignorá el mensaje y tu contraseña no cambiará.</p>

<p>Saludos,</p>

<p>El equipo de Campanarium.</p>