<p>¡Hola <%= @resource.name.present? ? @resource.name : @resource.email %>!</p>

<p>No pudiste entrar en tu cuenta y por tu seguridad la suspendimos.</p>

<p>Para recuperarla hacé click en el siguiente link</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>

<p>Saludos,</p>

<p>El equipo de Campanarium.</p>