.container-fluid#footer
  .navbar-header
    %button.navbar-toggle.collapsed{:"data-toggle" => "collapse", :"data-target" => "#footer-navbar"}
      Información
  .collapse.navbar-collapse#footer-navbar
    %ul.nav.navbar-nav
      %li= link_to t(".about"), static_page_path(StaticPage.about_us)
      %li= link_to t(".faqs"), static_page_path(StaticPage.faqs)
      %li= link_to t(".contact"), static_page_path(StaticPage.contact)
